<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Welcome {{user.username}}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <h1>Welcome Guest!</h1>
        <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a></p>
        {% endif %}
        {% block content %} {% endblock %}
    </body>
</html>